{% extends 'base/base.html' %}

{% block titulo %}
Cursos tentativos | Registro de Horarios
{% endblock titulo %}

{% block content %}

<div>

    <form  id="form-schedule" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>

            <button>
                <a href="{% url 'person:student_create' %}">Volver</a>
            </button>
            <button onclick="SaveData()">
                Guardar
            </button>

        </div>
    </form>
    <ul id="ul-schedule">
        {% for schedule in schedules  %}
            <li>{{ schedule.day }} - {{ schedule.hour }}</li> 
            <button><a href="{% url 'schedule:schedule_delete' pk=schedule.id %}">Eliminar</a></button></button>
        {% endfor %}
    </ul>
</div>
{% endblock content %}

{% block extrajs %}
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Ajax to cath and shows the list more efficiently - async work
    function SaveData() {
        var form = new FormData(document.getElementById('form-schedule'));
        var list = document.getElementById('ul-schedule');
        //
        fetch("schedule_create/", {
            method: "POST",
            body: form,
            headers: {
                "X-CSRFToken": getCookie('csrftoken'),
                "X-Requested-With": "XMLHttpRequest"
            }
        }).then(
            function(response) {
                return response.json()
            }
        ).then(
            function(data) {
                console.log('response');
                array_s = data.schedules;
                var li = document.createElement('li');
                li.innerHTML = array_s[array_s.length - 1].day +  array_s[array_s.length - 1].hour ;
                //
                list.appendChild(li);
            }
        ) 
    } 
</script>
{% endblock extrajs %}